<ion-grid>
    <ion-row>
        <ion-col size-md="4" size-lg="3" size-xs="6">
          <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
        </ion-col>
        <ion-col size-md="4" size-lg="3" size-xs="6">
            <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
          </ion-col>
          <ion-col size-md="4" size-lg="3" size-xs="6">
              <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
            </ion-col>
            <ion-col size-md="4" size-lg="3" size-xs="6">
                <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
              </ion-col>
    
      </ion-row>
      <ion-row>
          <ion-col size-md="4" size-lg="3" size-xs="6">
              <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
            </ion-col>
            <ion-col size-md="4" size-lg="3" size-xs="6">
                <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
              </ion-col>
              <ion-col size-md="4" size-lg="3" size-xs="6">
                  <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
                </ion-col>
                <ion-col size-md="4" size-lg="3" size-xs="6">
                    <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
                  </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-md="4" size-lg="3" size-xs="6">
                <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
              </ion-col>
              <ion-col size-md="4" size-lg="3" size-xs="6">
                  <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
                </ion-col>
                <ion-col size-md="4" size-lg="3" size-xs="6">
                    <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size-md="4" size-lg="3" size-xs="6">
                      <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
                    </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size-md="4" size-lg="3" size-xs="6">
                  <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
                </ion-col>
                <ion-col size-md="4" size-lg="3" size-xs="6">
                    <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
                  </ion-col>
                  <ion-col size-md="4" size-lg="3" size-xs="6">
                      <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
                    </ion-col>
                    <ion-col size-md="4" size-lg="3" size-xs="6">
                        <ion-skeleton-text animated style="width: 100%;line-height: 100px"></ion-skeleton-text>
                      </ion-col>

            </ion-row>
  </ion-grid>
